/* Footer Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 300;
  height: auto; /* Ajusta la altura automáticamente según el contenido */
  background-color: #ffffff; /* Color de fondo */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sutil sombra en la parte superior */

  /* Espaciado y estilos adicionales */
  padding: 20px; /* Ajusta el relleno según sea necesario */
}

/* Estilos para los nombres de los estudiantes */
.footer__p {
  font-size: 1rem; /* Tamaño de fuente */
  margin: 0; /* Elimina el margen predeterminado */
}

/* Estilos para los iconos de redes sociales */
.footer__social-icons {
  display: flex;
  gap: 10px; /* Espaciado entre los iconos */
}

.footer__social-icons a {
  color: #333333; /* Color de los iconos */
  font-size: 1.5rem; /* Tamaño de fuente de los iconos */
  transition: color 0.3s ease; /* Transición de color al pasar el ratón */
}

.footer__social-icons a:hover {
  color: #007bff; /* Cambia el color al pasar el ratón */
}

/* Estilos para el enlace a la página web de Digital House */
.footer__dh-link {
  color: #333333; /* Color del texto */
  text-decoration: none; /* Elimina el subrayado del enlace */
  display: flex;
  align-items: center;
}

.footer__dh-link p {
  font-size: 1rem; /* Tamaño de fuente */
  margin: 0 10px; /* Agrega espacio alrededor del texto */
}

/* Estilos para el logotipo de Digital House */
.footer__social-icons {
  width: 40px; /* Tamaño del logotipo */
}

.dark .footer__social-icons a {
  color: #fff; /* Color de los iconos en el tema oscuro */
}

.icons__footer{
  font-size: 30px;
  margin: 5px;
}


/* Media query para pantallas más grandes (mínimo 768px) */
@media (min-width: 768px) {
  .footer {
    flex-direction: row; /* Cambia a dirección horizontal en pantallas más grandes */
  }

  .footer__p {
    font-size: 1.2rem; /* Ajusta el tamaño de fuente para pantallas más grandes */
  }
}
